<launch>
  <!--hard coded definition of some constraints/features -->
  <arg name="robot"/>
  <node name="constraints" pkg="robohow_sot_demo" type="$(arg robot)_pouring.py" output="screen">
  </node>

  <!--start the feature visualization node -->
  <!--node name="feature_viz" pkg="feature_constraints_utils" 
        type="feature_viz.py" 
        output="screen"/ -->


  <!--define some tf for the environment-->
  <node name="tf_bung" pkg="tf"
        type="static_transform_publisher"
        args="0 0 0.1 0 0 0  /r_gripper_tool_frame /bung 100"/>

  <!-- define environment key elements -->
  <node name="bottle"    pkg="dynamic_graph_bridge" type="tf_publisher">
    <param name="frame"       type="string" value="bottle" />
    <param name="child_frame" type="string" value="odom" />
    <param name="topic"       type="string" value="bottle" />
  </node>

  <node name="bung"    pkg="dynamic_graph_bridge" type="tf_publisher">
    <param name="frame"       type="string" value="bung" />
    <param name="child_frame" type="string" value="odom" />
    <param name="topic"       type="string" value="bung" />
  </node>

  <node name="cup"    pkg="dynamic_graph_bridge" type="tf_publisher">
    <param name="frame"       type="string" value="cup" />
    <param name="child_frame" type="string" value="odom" />
    <param name="topic"       type="string" value="cup" />
  </node>
</launch>
